<div class="wrapper">
    <div class="page-header" data-parallax="true" style="background-image: url('./assets/img/2-back_image.jpg');">
        <!-- <div class="page-header" data-parallax="true" style="background-image: url('./assets/img/2-back_image.jpg');"> -->

        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <!-- <div class="moving-clouds" style="background-image: url('assets/img/takashi.jpg'); "></div> -->
        <div class="filter"></div>
            
        <app-sdk-login class="login"></app-sdk-login>
    </div>

    <app-whoisokta></app-whoisokta>