<style>
    .section-dark {
        background-color: #6E6E78;
    }

    body {
        color: white;
        background-color: #6E6E78;
        font-size: 14px;
        font-weight: 300;
        font-family: "Montserrat", "Helvetica", Arial, sans-serif;
    }
</style>

<div class="section section-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Okta は、フェデレーションで会社と顧客のIDを保護します</h2>
                <p class="description">
                    Oktaは、すべてのアイデンティティを保護する単一の信頼できるプラットフォームです。10,650社を超える組織がOktaのソフトウェアとAPIを信頼し、ユーザーのサインイン、認証、管理に活用しています。
                </p>
            </div>
        </div>
    </div>
</div>